<%- include('header'); -%>
<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>
<div class="box">
    <% for(var i = 0; i < newItem.length; ) { %>
        <div class="box" id="heading">
            <h1> <%= newItem[i].date.toDateString() %> </h1>
        </div>
        <% for(var j = i; j < newItem.length; j++, i++) { %>
            <% if(newItem[j].date.toDateString() != newItem[i].date.toDateString() ) { i = j; break; } %>
            <div class="item">
                <input type="checkbox" <%- newItem[j].isDone ? "checked" : "" %> >
                <p> <%= newItem[j].todoItem %> </p>
                <form class="delete" action="/" method="post">
                    <button type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i
                                class="fa fa-trash"></i></button>
                </form>
            </div>
        <% } %>
    <% } %>
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= newItem[0].todoType %>>+</button>
    </form>
</div>
<%- include('footer'); -%>
