<%- include('header'); -%>
<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>
<div class="box">
    <% previousDate = new Date ().toDateString () %>
    <% for(var i = 0; i < newItem.length; i++) { %>
        <% currentDate = newItem[i].date.toDateString () %>
        <% if(previousDate !== currentDate) { %>
            <div class="box" id="heading">
                <h1> <%= newItem[i].date.toDateString () %> </h1>
            </div>
            <% previousDate = currentDate %>
        <% } %>
        <form class="item delete" action="/<%= newItem[0].todoType %>" method="post">
            <input type="checkbox" <%- newItem[i].isDone ? "checked" : "" %> >
            <p> <%= newItem[i].todoItem %> </p>
            <p> <%= newItem[i].date.toDateString () %> </p>
                <button type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i
                            class="fa fa-trash"></i></button>
        </form>
    <% } %>
    <form class="item" action="/<%= newItem[0].todoType %>" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= newItem[0].todoType %>>+</button>
    </form>
</div>
<%- include('footer'); -%>
