<%- include('header'); -%>
<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>
<div class="box">
    <% previousDate = new Date ().toDateString () %>
    <% newItems.forEach(function(newItem) { %>
        <% currentDate = newItem.date.toDateString () %>
        <% if(previousDate !== currentDate) { %>
            <div class="box" id="heading">
                <h1> <%= newItem.date.toDateString () %> </h1>
            </div>
            <% previousDate = currentDate %>
        <% } %>
        <form class="item delete" action="/<%= newItem.todoType %>" method="post">
            <input type="checkbox" <%- newItem.isDone ? "checked" : "" %> >
            <p> <%= newItem.todoItem %> </p>
            <p> <%= newItem.date.toDateString () %> </p>
            <button type="submit" name="delete" value=<%= newItem.id %> data-toggle="tooltip"
                    data-placement="top" title="Delete"><i
                        class="fa fa-trash"></i></button>
        </form>
    <% }) %>
    <form class="item" action="/<%= newItems[0].todoType %>" method="post">
        <input type="text" name="addedItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= newItems[0].todoType %>>+</button>
    </form>
</div>
<%- include('footer'); -%>
